<div id="top" class="row fullHeight">
	<!-- LEFT SIDE NAV BAR -->
	<div class="col-sm-5 col-md-4 col-lg-3 center">
		<div class="sideBarSection">
			<div class="profile">
				<div class="profileName">
					<%= image_tag "profilePic.jpg", :class=>"profileImg img-circle" %>
					<h1>Wes<span class="yellow">Vance</span></h1>
					<h6 class="childElement"><a href="https://twitter.com/WesAdvance">@WesAdvance</a></h6>
				</div> <!-- KEEP THIS AT THE TOP LEFT CORNER -->
			</div>
			<hr class="navBreak">
			<div class="navBarLinks">
				<ul class="links">
					<li>
						<h3><a href="#about">About Me</a></h3>
					</li>
					<li>
						<h3><a href="#map">Blog</a></h3>
					</li>
					<li>
						<h3><a href="#blog">Projects</a></h3>
					</li>
					<% if admin_signed_in?%>
						<li>
							<h3><a href ="#">Create</a></h3>
						</li>
					<%end%>
				</ul>
			</div>
		</div>
	</div>

	<!-- ABOUT ME -->
	<div class="col-sm-5 col-md-6 col-lg-7">
		<div id="about" class="aboutMeSection">
			<h3>Twenty years fron now you will be more disappointed by the things that you didnt do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.</h3><p>-Mark Twain</p>
		</div>
	</div>
</div>

<div class="row">
	<!-- MAP -->
	<div class="col-sm-12">
		<div id="map" class="mapSection">
			<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/wesvance.miaef27b/attribution.html?access_token=pk.eyJ1Ijoid2VzdmFuY2UiLCJhIjoiV3RpaE1xNCJ9.t3DpzGpN43q23tRcKMzLqQ'></iframe>
		</div>
	</div>
</div>

<div class="row">
	<!-- BLOG -->
	<div class="col-sm-8 col-sm-offset-2">
		<div id="blog" class="blogSection">
			<div class="blogTitle">
				<h1>This is a thing I call a 'blog'</h1>
			</div>
			<div class="blogTags">
				<h6 class="childElement">July 5th, 2015</h6>
			</div>
			<div class="blogBody">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="blogTags">
				<h6>Tag 1 : Tag 2 : Tag 3</h6>
			</div>
			<hr>
		</div>

	</div>
	<div class="col-sm-8 col-sm-offset-2">
		<div id="blog" class="blogSection">
			<div class="blogTitle">
				<h1>This is a thing I call a 'blog'</h1>
			</div>
			<div class="blogTags">
				<h6 class="childElement">July 5th, 2015</h6>
			</div>
			<div class="blogBody">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="blogTags">
				<h6>Tag 1 : Tag 2 : Tag 3</h6>
			</div>
			<hr>
		</div>

	</div>
	<div class="col-sm-8 col-sm-offset-2">
		<div id="blog" class="blogSection">
			<div class="blogTitle">
				<h1>This is a thing I call a 'blog'</h1>
			</div>
			<div class="blogTags">
				<h6 class="childElement">July 5th, 2015</h6>
			</div>
			<div class="blogBody">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="blogTags">
				<h6>Tag 1 : Tag 2 : Tag 3</h6>
			</div>
			<hr>
		</div>

	</div>
</div>

<!-- OTHER -->
<div class="topBottonBox">
	<a href="#top"><i class="fa fa-chevron-up pull-right topButton"></i></a>
</div>