@media screen and (max-width: 767px) {
  #navBar {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  #mobileNav{
  	visibility: visible;
  	display: all;
  }
  .mapSection{
  	width:100%;
  	height:40vh;
  }
  .mobileHide {
    display:none;
  }
}